body {
  background-color: #ffc90d;
  color: #291f1f;
  text-align: center;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

#forecast {
  background-color: rgba(255,255,255,0.3);
  max-width: 1000px;
}